.lxhm-wrapper {
  width: 100%;
}

.lxhm-wrapper .lxhm-icon {
  cursor: pointer;
  height: 24px;
  width: 24px;
  fill: #888;
}

.lxhm-delete-room,
.lxhm-delete-article {
  transition: fill .3s;
}

.lxhm-delete-room:hover,
.lxhm-delete-article:hover {
  fill: #e57373;
}

.lxhm_delete_lid {
  transform-origin: top right;
  transition: transform .3s;
}

.lxhm-delete-room:hover .lxhm_delete_lid,
.lxhm-delete-article:hover .lxhm_delete_lid {
  transform: rotate(10deg);
}

.lxhm-wrapper select,
.lxhm-wrapper button {
  font-family: Arial, Helvetica, sans-serif;
  transition: border-color .3s;
  border-color: #888;
  height: 28px;
  color: #888;
}

.lxhm-wrapper .lxhm-link-button {
  font-family: Arial, Helvetica, sans-serif;
  transition: border-color .3s;
  border: 1px solid #888;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px;
  color: #888;
}

.lxhm-wrapper .lxhm-link-button:hover,
.lxhm-wrapper .lxhm-link-button:focus {
  border-color: #000;
  color: #000;
}

.lxhm-wrapper select.invalid {
  border-color: #e57373;
}

.lxhm-wrapper select.invalid:hover,
.lxhm-wrapper select.invalid:focus {
  border-color: #b71c1c;
}

.lxhm-wrapper select.invalid:focus {
  outline: none;
}

.lxhm-wrapper select:hover,
.lxhm-wrapper button:hover,
.lxhm-wrapper select:focus,
.lxhm-wrapper button:focus {
  border-color: #000;
  outline: none;
}

.lxhm-wrapper button {
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  padding: 6px;
}

.lxhm-wrapper button:disabled,
.lxhm-wrapper select:disabled {
  border-color: #e0dede;
  cursor: default;
  color: #e0dede;
}

.lxhm-wrapper .lxhm-divider {
  border-top: 1px solid #d2d2d2;
  height: 0px;
  width: 100%;
}

.lxhm-section {
  padding: 10px 0;
  margin: 10px 0;
  display: flex;
}

.lxhm-section.lxhm-column {
  justify-content: center;
  flex-direction: column;
}

.lxhm-section.lxhm-row {
  flex-direction: row;
  align-items: center;
}

.lxhm-section .title {
  color: #5096da;
  width: 125px;
}

.lxhm-server-select-wrapper {
  position: relative;
  display: flex;
}

.lxhm-server-select-wrapper input[type=radio] {
  position: absolute;
  height: 1px;
  width: 1px;
  opacity: 0;
  margin: 0;
}

.lxhm-custom-label {
  border: 1px solid #d2d2d2;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  display: flex;
  padding: 15px;
  width: 50%;
}

.lxhm-custom-label:first-of-type {
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .lxhm-custom-label {
    padding: 25px;
  }
  
  .lxhm-custom-label span {
    padding: 0 50px;
  }
}

.lxhm-custom-radio:checked + label,
.lxhm-custom-radio:focus + label {
  border-color: #888;
}

.lxhm-custom-radio:focus + label,
.lxhm-custom-radio:hover + label {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.lxhm-custom-label img {
  margin-bottom: 25px;
  width: 150px;
}

.lxhm-custom-label span {
  text-align: center;
  
}

.lxhm-card {
  border: 1px solid #d2d2d2;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #888;
  width: 100%;
}

.lxhm-card .lxhm-header {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  padding: 15px;
  width: 100%;
}

.lxhm-card .lxhm-title,
.lxhm-card .lxhm-action {
  align-items: center;
  display: flex;
}

.lxhm-server-warning {
  text-align: center;
  margin: 15px 0;
}

.lxhm-server-warning svg {
  margin-bottom: -3px;
  margin-left: 10px;
  fill: #ffd54f;
  height: 18px;
  width: 18px;
}

.lxhm-card .lxhm-title h3 {
  margin: 0;
}

.lxhm-card .lxhm-body {
  padding: 15px;
}

.lxhm-article {
  justify-content: space-between;
  margin: 5px 0;
  display: flex;
}

.lxhm-article .lxhm-actions {
  align-items: center;
  display: flex;
}

.lxhm-article select {
  margin-right: 5px;
}

.lxhm-article .lxhm-options {
  align-items: center;
  display: flex;
}

.lxhm-article .lxhm-tooltip {
  position: relative;
  cursor: default;
  height: 22px;
  width: 22px;
}

.lxhm-article .lxhm-tooltip:focus .tooltip-text,
.lxhm-article .lxhm-tooltip:hover .tooltip-text {
  display: inline-block;
}

.lxhm-article .lxhm-tooltip path {
  fill: #888;
}

.lxhm-article .lxhm-tooltip .tooltip-text {
  background-color: #4c4c4c;
  position: absolute;
  border-radius: 4px;
  min-width: 300px;
  display: none;
  padding: 5px;
  color: #fff;
  z-index: 5;
  left: 29px;
  top: 0;
}

.lxhm-product,
.lxhm-sum-product {
  padding: 3px 10px 3px 3px;
  margin: 3px 0;
  display: flex;
  height: 54px;
  width: 100%;
}

.lxhm-product {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
}

.lxhm-product .lxhm-product-image {
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  display: flex;
  height: 100%;
  width: 48px;
}

.lxhm-product-image img {
  height: 100%;
  width: 100%;
}

.lxhm-product .lxhm-product-name {
  align-items: center;
  font-weight: bold;
  display: flex;
}

.lxhm-product .lxhm-product-price {
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}

.lxhm-product-spacer {
  display: flex;
  flex-grow: 1;
}

.lxhm-product .lxhm-product-sum {
  border-top: 1px solid #d2d2d2;
  font-weight: bold;
}

.lxhm-sum-product {
  font-weight: bold;
  color: #5096da;
}

#lxhm-toast-element {
  background-color: #363839;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  border-radius: 4px;
  position: fixed;
  display: flex;
  padding: 15px;
  right: 30px;
  color: #fff;
  z-index: 99;
  top: 100px;
}

#lxhm-toast-element.active {
  -webkit-animation: fadein .5s, fadeout .5s 2.5s;
  animation: fadein .5s, fadeout .5s 2.5s;
  visibility: visible;
}

#lxhm-toast-element .error { fill: #e57373; }
#lxhm-toast-element .success { fill: #7ec05f; }

#lxhm-toast-element svg {
  margin: 0 5px 2px 0;
  height: 18px;
  width: 18px;
}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
  from {right: 0; opacity: 0;} 
  to {right: 30px; opacity: 1;}
}

@keyframes fadein {
  from {right: 0; opacity: 0;}
  to {right: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {right: 30px; opacity: 1;} 
  to {right: 0; opacity: 0;}
}

@keyframes fadeout {
  from {right: 30px; opacity: 1;}
  to {right: 0; opacity: 0;}
}

#lxhm-cart-link {
  margin-left: 5px;
  display: none;
}

#lxhm-cart-link.visible {
  display: inline;
}

#lxhm-cart-link svg {
  margin-bottom: -2px;
  height: 14px;
  width: 14px;
  fill: #888;
}